.Board{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: auto;
    gap: 10px;
    border-radius: 16px;
    /* border: 1px solid blue; */
    padding: 20px;
    background-color: antiquewhite;
}
.row{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}